<nav class="navbar navbar-expand-xxl bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Banlista Progresji</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/banlist">Banlista</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users">Uczestnicy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/card-base">Baza Kart</a>
        </li>
      </ul>
      <!-- Search engine below to be implemented after API -->
      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Wyszukaj" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Wyszukaj</button>
      </form> -->
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown" appDropdown>
        <a style="cursor: pointer;" class="dropdown-toggle" role="button" >Opcje <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a style="cursor: pointer;">Save Data</a></li>
          <li><a style="cursor: pointer;">Fetch Data</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
