<div class="col-5">
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Rodzaj Karty</th>
          <th scope="col">Nazwa Karty</th>
          <th scope="col">Status</th>
          <th scope="col">Poprzedni Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let card of cards; let i = index" [ngClass]="card.type">
          <td scope="row">{{card.type}}</td>
          <td>{{card.name}}</td>
          <td>{{card.status}}</td>
          <td>{{card.was}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
