<div class="row">
  <div class="col">
    <h1>{{user.nick}}</h1>
  </div>
  <div class="col-auto ms-auto">
    <div class="dropdown">
      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">Zarządzaj<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Test 1</a></li>
        <li><a href="#">Test 2</a></li>
        <li><a href="#">Test 3</a></li>
       </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Punkty: {{user.points}}</p>
  </div>
</div>
<!-- <div class="row">
  <div class="col-xs-12">
    <p>Wyniki (lista razem z taliami?)</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>Posiadane Karty (może search engine?)</p>
  </div>
</div> -->
