<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onAddCard(x)" #x="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Nazwa</label>
          <input type="text" id="name" class="form-control" name="name" ngModel required>
        </div>
        <div class="col-sm-5 form-group">
          <label for="status">Status</label>
          <select id="status" class="form-control" name="status" ngModel required >
            <option value="Banned">Banned</option>
            <option value="Limited">Limited</option>
            <option value="Semi-Limited">Semi-Limited</option>
          </select>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success" type="submit" [disabled]="!x.valid">{{editMode ? 'Zmień' : 'Dodaj'}}</button>
            <button class="btn btn-danger" type="button" (click)="onDelete()" *ngIf="editMode">Usuń</button>
            <button class="btn btn-primary" type="button" (click)="onClear()">Wyczyść</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
