<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="nazwa">Nazwa</label>
          <input type="text" id="nazwa" class="form-control">
        </div>
        <div class="col-sm-5 form-group">
          <label for="status">Status</label>
          <input type="text" id="status" class="form-control">
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success" type="submit">Dodaj</button>
            <button class="btn btn-danger" type="button">Usuń</button>
            <button class="btn btn-primary" type="button">Wyczyść</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
